HELP.md

# Variáveis de ambiente
.env
.ENV

# Build
target/
build/

# Deploy automático
deploy.sh

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar
mvnw
mvnw.cmd

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db

# Logs
*.log

# Arquivos temporários
*~
*.swp
*.bak
*.tar
